<div id="discographyCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for title in discography %}
    <div class="carousel-item{% if loop.first %} active{% endif %}">
      <img src="{{ discography.image }}" class="d-block w-100" alt="{{ discography.title }}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ discography.title }}</h5>
        <p>Released: {{ discography.year }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Carousel controls here -->
</div>