#jumbo {
  background-image: url('src/img/img-queen/queen-band-early.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu', sans-serif;
}

#jumbo h1 {
  font-family: 'Bebas Neue', sans-serif, Arial, Helvetica;
}